@charset "UTF-8";
/* =CALL LIBRARY */
	@import url("reset-min.css"); /* ------- Reset all CSS Styles */

/* =GENERAL - the general styles */
	body{
		font: 62.5%/2.2em Arial, Tahoma, Verdana,Helvetica, sans-serif;
		color: #E4F2F7;/*4b4942*/
		background: #ffffff url(../images/bg_patterns.gif);
	}
	a{text-decoration: none;color: #A1490E;}/*5599a7*/
	a:hover{color: #CC5D12;}
	.hide,hr{display: none;}
	strong{font-weight: bold;}
	

/* =LAYOUT - the main layout styles */
	/* for the rounded top */
	#containertop{
		position: absolute;
		width: 902px;
		margin: -10px auto 0 auto;
		height: 10px;
		font-size:0.1em;
		background:url(../images/container_top.png) left bottom no-repeat;
	}
	* html #containertop{behavior: url(stylesheets/iepngfix.htc);} /* to correct transparent png in IE */
	/* container */
	#container{
		width: 902px;
		margin: 44px auto 0 auto;
		background: #477382 url(../images/bg_container.png);/*171A0F*/
		padding-bottom:10px;
	}

/* =HEADER */
	/* Logo and Site Title */
	h1{
		font-size: 2.4em;
		text-transform: uppercase;
	}
	h1 a,h1 a:hover{
		display: block;
		width: 300px;
		height: 30px;
		padding-top:10px;
		margin-left:18px;
		background: url(../images/logo.gif) 0 0 no-repeat;
		padding-left:52px;
		color: #E4F2F7;
	}

/* =TOP NAVIGATION and SEARCH */
	/* top navigation */
	#navigation_wrapper{
		background: #477382 url(../images/nav_bg.gif) 0 0 repeat-x;
		height: 37px;
		width: 861px;
		margin: 10px auto 20px auto;
	}
	#navigation{
		float: left;
		padding-left:7px;
		height: 37px;
		background: url(../images/navigation_left.gif) left top no-repeat;
	}
	#navigation li{
		float: left;
	}
	#navigation li a{
		padding: 7px 10px 0 10px;
		height: 30px;
		float: left;
		font-family: "Trebuchet MS";
		font-size: 1.45em;
		font-weight: bold;
		letter-spacing:-0.03em;
		color: #ABB3B2;
	}
	#navigation li a:hover, a:visited{
		color: #BB934F;
		background: #477382 url(../images/nav_hover_bg.gif) 0 0 repeat-x;
	}
	/* search */
	#search_wrapper{
		float: right;
		height: 30px;
		padding:7px 10px 0 0;
		background: url(../images/navigation_right.gif) right top no-repeat;
	}
	.search{
		background: #696D5F;
		border: 1px solid #5b90a2;
		width: 160px;
		height: 18px;
		padding: 3px 2px 0 3px;
		color: #474A40;
	}
/* =MAIN IMAGE */
	#main_image{
		width:860px;
		position: relative;
		margin: 0 auto;
	}
	/* frame: the small rounded image in the corner picture (top,right,bottom,left) */
	#frame_image_top,#frame_image_bottom{
		position: absolute;
		width: 860px;
		height: 7px;
		font-size:0.1em;
		top:0;left:0;
		background: url(../images/frame_image_top.png) top no-repeat;
	}
	#frame_image_bottom{
		bottom:0;top:auto;
		background: url(../images/frame_image_bottom.png) bottom no-repeat;
	}
	* html #frame_image_top,* html #frame_image_bottom{behavior: url(stylesheets/iepngfix.htc);} /* to correct transparent png in IE */

/* =BANNER */
	#banner_wrapper{
		width: 874px;
		overflow: hidden;
		padding:30px 0 0 28px;
	}
	.banner{
		float: left;
		width: 245px;
		float: left;
		background: #477382 url(../images/banner_bg.gif) left repeat-y;/*353C2C*/
		margin-right:54px;
		padding-bottom:6px;
		position: relative;
	}
	.image_wrapper{text-align: center;}
	.banner img{border: 3px solid #5b90a2;}
	.banner_last{margin-right:0;}
	.banner h2{
		height: 38px;
		background: url(../images/banner_top.gif) left no-repeat;
		font:1.9em "Lucida Grande", "Trebuchet MS", Arial, Helvetica, sans-serif;
		text-transform: uppercase;
		color: #ABB3B2;
		padding: 15px 0 0 17px;
	}
	/* for the rounded bottom */
	.image_wrapper span{
		position: absolute;
		width: 245px;
		height: 6px;
		font-size:.1em;
		left:0;bottom:-1px;
		background: #353C2C url(../images/banner_bottom.gif) bottom no-repeat;
	}
	
/* =ABOUT */
	#about{
		width: 858px;
		margin:26px auto 0 auto;
		position: relative;
		border: 2px solid #5b90a2;
	}
	#aboutcontent{
		width: 848px;
		font-size:2em;
		margin: 0 inherit;
		padding: 30px 0 20px 10px;
		overflow: hidden;
		background: #dee9ed url(../images/services_bg.jpg) bottom repeat-x;
		color: #7b8266;
	}
	/* sevices header */
	#about h2{
		background: #548596 url(../images/services_top_bg.jpg);
		height: 35px;
		font-size:2.5em;
		color: #ABB3B2;
		padding: 12px 0 0 40px;
		border-bottom: 1px solid #5b90a2;
	}
	/* top rounded image */
	#about h2 span{
		position: absolute;
		display: block;
		height: 8px;
		width: 862px;
		left:0;top:0;
		font-size:0.1em;
		background: url(../images/services_top.jpg) left top no-repeat;
		margin: -2px;
	}
	
/* =TUTORIAL */
	#tutorial{
		width: 858px;
		margin:26px auto 0 auto;
		position: relative;
		border: 2px solid #5b90a2;
		font-size:2em;
		padding: 30px 0 20px 10px;
		overflow: hidden;
		background: #dee9ed;
		color: #7b8266;
	}
	
/* =FAQ */
	.faq{
		width: 858px;
		margin:26px auto 0 auto;
		position: relative;
		border: 2px solid #5b90a2;
	}
	.faqcontent{
		width: 848px;
		font-size:2em;
		margin: 0 inherit;
		padding: 10px 0 20px 10px;
		overflow: hidden;
		background: #D3E7ED url(../images/services_bg.jpg) bottom repeat-x;
		color: #7b8266;
	}
	/* sevices header */
	.faq_question {
		height: 30px;
		font-size:2em;
		color: #ABB3B2;
		background: #548596 url(../images/question_icon.png) left no-repeat;
		padding: 12px 0 0 40px;
		border-bottom: 1px solid #5b90a2;
	}
	/* top rounded image */
	.faq_question span{
		position: absolute;
		display: block;
		height: 8px;
		width: 862px;
		left:0;top:0;
		font-size:0.1em;
		background: url(../images/services_top.jpg) left top no-repeat;
		margin: -2px;
	}
	
	/* bottom rounded image */
	.bottom_rounded{
		position: absolute;
		display: block;
		width: 862px;
		height: 7px;
		font-size:0.1em;
		right:0;bottom:0;
		background: url(../images/services_bottom.jpg) no-repeat;
		margin: -2px;
	}
	
/* =FOOTER */
	#footer_wrapper{
		width: 871px;
		padding-left:31px;
		padding-bottom:25px;
		margin: 0 auto;
		text-transform:uppercase;
		font-size: 1em;
		background: url(../images/footer_left.png) 0 0 no-repeat;
	}
	#footer{
		position: relative;
		width: 840px;
		height: 67px;
		background: #477382 url(../images/footer_bg.png) 0 bottom repeat-x;
	}
	#footer .logo{
		padding: 34px 0 0 30px;
		width: 300px;
		float: left;
		background: url(../images/logo_small.gif) left bottom no-repeat;
		color: #E4F2F7;
	}
	#footer .logo span{
		position: absolute;
		display: block;
		right:-31px;top:0;
		width: 31px;
		height: 67px;
		background: url(../images/footer_right.png) right bottom no-repeat;
	}
	* html #footer .logo span, * html #footer_wrapper{behavior: url(stylesheets/iepngfix.htc);}
	#footer ul{
		padding-top: 34px;
		padding-right: 5px;
		float: right;
	}
	#footer ul li{
		float: left;
		padding-left:10px;
	}
	#footer a{
		color: #E4F2F7;
	}
	#footer li a:hover{
		color: #BB934F;
	}